@using ApplicationCore.Models

@model GenreModel

<div class="container">
    

<form method="post">
    <div class="row">
        <div class="mb-3">
        <input type="text" class="form-control" asp-for="Name" />
        </div>
    </div>
   
    <input type="submit" value="Genre" class="btn btn-info"/> 
</form>
</div>