@model Employee
<div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/71ncIkBW8qL.__AC_SX300_SY300_QL70_FMwebp_.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@Model.FirstName @Model.LastName</h5>
                <p class="card-text">@Model.Department | @Model.Salary</p>
            </div>
        </div>